<style>
    .center {
        margin-left: auto;
        margin-right: auto;
        display: block;
    }
</style>

<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button (click)="close()">
                <ion-icon name="close" slot="icon-only"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title>Send</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content *ngIf="contact">
    <ion-list-header>

    </ion-list-header>
    <ion-item>
        <ion-avatar slot="start" style="--border-radius: 0.5em; height: 50px !important; width: 50px !important;">
            <img [src]="contact?.picture != null ? contact.picture : 'assets/shapes.svg'">
        </ion-avatar>
        <ion-label>
            <h2>{{contact?.name}}</h2>
            <h3></h3>
            <!--            <h3>I'm a big deal</h3>-->
            <!--            <p>Listen, I've had a pretty messed up day...</p>-->
        </ion-label>
    </ion-item>
    <ion-list-header>

    </ion-list-header>

    <ion-item-group>
        <ion-list-header>
            An bevorzugte Packstation senden
        </ion-list-header>
        <ion-radio-group [(ngModel)]="selected">
            <ng-template ngFor let-box [ngForOf]="boxes">
                <ion-item>
                    <ion-icon name="location" slot="start" size="large" color="primary"></ion-icon>
                    <ion-label>
                        {{box.address}}
                    </ion-label>
                    <ion-radio slot="end" color="primary" [value]="box"></ion-radio>
                </ion-item>
            </ng-template>
        </ion-radio-group>
        <!--        <ion-button expand="block" color="light">neue Packstation Vorschlagen</ion-button>-->
    </ion-item-group>

    <ion-item-divider color="white"></ion-item-divider>
    <ion-item>
        <ion-img class="center" [src]="selected.image" [hidden]="selected.image == null"
                 style="max-height:250px;max-width:250px;"></ion-img>
    </ion-item>

    <ion-item-divider color="white"></ion-item-divider>
    <section>
        <header>Wie groß ist dein Paket?</header>
        <ion-segment color="primary" [(ngModel)]="size" value="S">
            <ion-segment-button value="S" style="--background: black">
                <ion-label>S</ion-label>
            </ion-segment-button>
            <ion-segment-button value="M">
                <ion-label>M</ion-label>
            </ion-segment-button>
            <ion-segment-button value="L">
                <ion-label>L</ion-label>
            </ion-segment-button>
            <ion-segment-button value="XL">
                <ion-label>XL</ion-label>
            </ion-segment-button>
        </ion-segment>
    </section>
    <ion-item-divider></ion-item-divider>
    <section>
        <header>Wann möchtest du das Paket abgeben?</header>
        <ion-datetime placeholder="Select Date" class="center" [(ngModel)]="deliveryDate"></ion-datetime>
    </section>
    <ion-item-divider></ion-item-divider>
    <section>
        <ion-button expand="block" color="primary" (click)="submit()" [disabled]="size == null || deliveryDate == null">Vorschlagen</ion-button>
        <ion-button expand="block" color="danger" (click)="close()">Abbrechen</ion-button>
    </section>


</ion-content>

