<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Boxes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list-header>
    My favorite boxes
  </ion-list-header>

  <ion-card>
    <img src="https://upload.wikimedia.org/wikipedia/commons/1/1d/Hamburg_location_map.svg" />
    <ion-card-header>
      <ion-card-subtitle>Irgendwo in Hamburg</ion-card-subtitle>
      <ion-card-title>Hamburg #1</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Available
    </ion-card-content>
  </ion-card>

  <ion-card>
    <img src="https://upload.wikimedia.org/wikipedia/commons/1/1d/Hamburg_location_map.svg" />
    <ion-card-header>
      <ion-card-subtitle>Irgendwo in Hamburg</ion-card-subtitle>
      <ion-card-title>Hamburg #2</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Available
    </ion-card-content>
  </ion-card>

  <ion-card>
    <img src="https://upload.wikimedia.org/wikipedia/commons/1/1d/Hamburg_location_map.svg" />
    <ion-card-header>
      <ion-card-subtitle>Irgendwo in Hamburg</ion-card-subtitle>
      <ion-card-title>Hamburg #3</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Available
    </ion-card-content>
  </ion-card>


  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
