<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Boxes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list-header>
    My favorite boxes
  </ion-list-header>

  <ion-reorder-group disabled="false" (ionItemReorder)="doReorder($event)">
    <ion-item>
      <ion-badge slot="start" color="success">3 frei</ion-badge>
      <ion-label>
        <p>Irgendwo in Hamburg</p>
        Hamburg #
      </ion-label>
      <ion-reorder slot="end"></ion-reorder>
    </ion-item>

    <ion-item>
      <ion-badge slot="start" color="tertiary">1 frei</ion-badge>
      <ion-label>
        <p>Irgendwo in Hamburg</p>
        Hamburg #2
      </ion-label>
      <ion-reorder slot="end"></ion-reorder>
    </ion-item>

    <ion-item>
      <ion-badge slot="start" color="danger">0 frei</ion-badge>
      <ion-label>
        <p>Irgendwo in Hamburg</p>
        Hamburg #3
      </ion-label>
      <ion-reorder slot="end"></ion-reorder>
    </ion-item>

  </ion-reorder-group>


  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>